/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  font-size: 16px;
}



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1rem;
}

h3{
  text-decoration: none;
  font-weight:lighter;
}

img{
  display: block;
  height: auto;
  width: 50vh;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
